<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ContainerMapper">
    <resultMap id="ContainerInfo" type="com.example.demo.entity.Container">
    </resultMap>

    <insert id="insertContainerInfo">
        insert into t_dl_algoplatform_container (CONID, TASKID, IMAGEID, COMMAND, ARGS, ENV, PORTMAPPING, VOLUMEMAPPING,
                                                 CPUREQUESTS, GPUREQUESTS, MEMREQUESTS, STORAGEREQUESTS, INFO,
                                                 ANALYSISTYPE, INPUT, OUTPUT, CHANNELID, DELETEFLAG, CONFIGMAPPING,
                                                 TVCHANNEL, NAMESPACE, HOSTALIASES)
        values (#{conId}, #{taskId}, #{imageId}, #{command}, #{args}, #{env}, #{portMapping}, #{volumeMapping},
                #{cpuRequests}, #{gpuRequests}, #{memRequests}, #{storageRequests}, #{info}, #{analysisType}, #{input},
                #{output}, #{channelId}, #{deleteFlag}, #{configMapping}, #{tvChannel}, #{namespace}, #{hostAliases})
    </insert>
    <select id="queryContainer" resultMap="ContainerInfo">
        select CONID, TASKID, IMAGEID, COMMAND, ARGS, ENV, PORTMAPPING, VOLUMEMAPPING, CPUREQUESTS, GPUREQUESTS,
        MEMREQUESTS, STORAGEREQUESTS, INFO, ANALYSISTYPE, INPUT, OUTPUT, CHANNELID, DELETEFLAG, CONFIGMAPPING,
        TVCHANNEL, NAMESPACE, HOSTALIASES
        from t_dl_algoplatform_container
        <where>
            DELETEFLAG=0
            <if test="taskId != null and taskId != ''">
                and TASKID = #{taskId}
            </if>
        </where>
    </select>
    <update id="updateContainer">
        update t_dl_algoplatform_container
        <set>
            <if test="volumeMapping != null and volumeMapping !=''">
                VOLUMEMAPPING = #{volumeMapping},
            </if>
            <if test="portMapping != null and portMapping !=''">
                PORTMAPPING = #{portMapping},
            </if>
        </set>
        <where>
            DELETEFLAG=0
            <if test="conId != null and conId != ''">
                and CONID = #{conId}
            </if>
        </where>
    </update>
    <delete id="deleteContainer">
        update t_dl_algoplatform_container
        <set>
            DELETEFLAG = 1,
            <if test="volumeMapping != null and volumeMapping !=''">
                VOLUMEMAPPING = #{volumeMapping},
            </if>
        </set>
        <where>
            DELETEFLAG=0 and CONID = #{conId}
        </where>
    </delete>

</mapper>